/*body {
  background-color: #DFDAC8;
  color: #3B5A91;
}*/
.main-ticket-view {
   overflow: auto; 
   max-height: 100vh;
}

.new {
  font-size: 18px;
}
.new span {
  margin-left: -20px;
}

.new i {
  margin-left: 5px;
  margin-top: 5px;
}

.dropdown-button {
  width: 170px;
}
